In [90]:
# set execution path, such that the current directory is called "abm"
import os
while os.path.basename(os.getcwd()) != "abm":
    os.chdir('..')
print(os.getcwd())

/Users/brinkmann/repros/reward-network-iii/abm

In [91]:
import pandas as pd

experiment_name = "example"

run_folder = os.path.join('experiments', experiment_name)

K_file = os.path.join(run_folder, 'K.parquet')
perf_file = os.path.join(run_folder, 'perf.parquet')
x_file = os.path.join(run_folder, 'x.parquet')
m_file = os.path.join(run_folder, 'm.parquet')
r_file = os.path.join(run_folder, 'r.parquet')

K_df = pd.read_parquet(K_file)
perf_df = pd.read_parquet(perf_file)
x_df = pd.read_parquet(x_file)
m_df = pd.read_parquet(m_file)
r_df = pd.read_parquet(r_file)

In [92]:
x_df.head(100)

    R  G  T  N  x
0   0  0  0  0  0
1   0  0  0  1  1
2   0  0  0  2  1
3   0  0  1  0  0
4   0  0  1  1  0
.. .. .. .. .. ..
95  0  3  1  2  0
96  0  3  2  0  0
97  0  3  2  1  0
98  0  3  2  2  0
99  0  3  3  0  0

[100 rows x 5 columns]

In [93]:
m_df

     R  G  T  N  m
0    0  0  0  0  2
1    0  0  0  1  2
2    0  0  0  2  2
3    0  0  1  0  2
4    0  0  1  1  2
..  .. .. .. .. ..
115  0  3  8  1  2
116  0  3  8  2  2
117  0  3  9  0  2
118  0  3  9  1  2
119  0  3  9  2  1

[120 rows x 5 columns]

In [94]:
perf_df

    R  G  N  perf
0   0  0  0  -5.0
1   0  0  1  -2.0
2   0  0  2  -3.0
3   0  1  0   0.0
4   0  1  1  -5.0
5   0  1  2   0.0
6   0  2  0   0.0
7   0  2  1  -9.0
8   0  2  2  -9.0
9   0  3  0   0.0
10  0  3  1  -1.0
11  0  3  2   0.0

In [95]:
r_df[x_df['x'] == 5]

Empty DataFrame
Columns: [R, G, T, N, r]
Index: []

In [96]:
K_df

    R  G  N  X      K
0   0  0  0  0  False
1   0  0  0  1  False
2   0  0  0  2  False
3   0  0  0  3  False
4   0  0  0  4  False
.. .. .. .. ..    ...
91  0  3  2  3  False
92  0  3  2  4  False
93  0  3  2  5  False
94  0  3  2  6  False
95  0  3  2  7  False

[96 rows x 5 columns]